<div class="main">
  <div class="launchLogo"></div>
  <div class="info">
    <p>From extreme poverty to deforestation, our <br> current global condition requires a renewed <br> sense of humanity & community.</p>
    <p>Whether we measure unsafe water sources <br> or communicable diseases, statistics <br> regarding our way of life are sobering.</p>
    <p>Here are some global examples.</p>
    <div class="stats">
      <p>
        <span class="counter">4,714,536,340</span>
        <span class="description">CO2 emissions this year (tons)</span>
      </p>
      <hr>
      <p>
        <span class="counter">$ 6,416,071,364</span>
        <span class="description">Healthcare expenditures this year</span>
      </p>
      <hr>
      <p>
        <span class="counter">1,631,102</span>
        <span class="description">Desertification this year (sq meters)</span>
      </p>
      <hr>
      <p>
        <span class="counter">20,005,993,584</span>
        <span class="description">non-renewable energy consumed this year (mwh)</span>
      </p>
      <hr>
      <p>
        <span class="counter">115,314,000</span>
        <span class="description">Child laborers in hazardous conditions</span>
      </p>
    </div> <!-- ./ stats-->
    <p>[...] and shamefully, it goes on.</p>
    <p>
      What if our beloved fashion brands could<br>
      join forces to help tackle these issues?<br>
      What if we gave them, every month, a new<br>
      humanitarian challenge to rise up to?
    </p>
    <p>What if looking good meant <span class="bold">doing good?</span> </p>
    <p>
      Welcome Onevio. <br>
      Our mission is simple&nbsp;-
    </p>
  </div>
  <div id="home" class="page">
    <div class="row">
        <div class="col-md-12 unite"><a href="#follow" class="cboxInline"><%= image_tag "img_social_good.png" %></a></div>
    </div>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="row main-stats">
          <div class="col-md-6 right">
            <h2>7,650</h2>
            <h3>Onevio family members</h3>
            <span class="fancy-border"></span>
          </div>
          <div class="col-md-6 left">
            <h2>115</h2>
            <h3>Brand openings left </h3>
          </div>
        </div>
        <div class="row company-description">
          <div class="col-md-12">
            <p>We’re bringing socially conscious fashion brands together<br>for the benefit of a new humanitarian cause every month.</p>
            <p>From sunglasses to t-shirts, every item will tell a story of hope.</p>
            <p>One Month. One Cause. Onevio.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-5">
            <a class="greenBtn cboxInline" href="#launch">Notify me of launch day</a>
          </div>
          <div class="col-md-5">
            <a class="greenBtn" href="#">I’d like to partner up!</a>
          </div>
          <div class="col-md-1"></div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div> <!-- ./page#home-->

  <div id="works" class="page">
    <div class="row center-text">
      <h1 class="brands-title">We’re looking for amazing brands</h1>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-3"></div>

      <div class="col-md-6 col-sm-6 col-split no-border">
        <span class="circle badge"></span>
        <h2>we create charitable partnerships</h2>
        <p>We’re interested in keeping our marketplace as intimate as possible. We’re selective. That means you won’t find much competition here.</p>
      </div>

      <div class="col-md-3 col-sm-3"></div>
    </div>
  </div> <!-- ./page#works-->
</div> <!--./main -->