<div class="main">
  <div class="launchLogo"></div>
  <div class="tagline">
    <h2><span class="bold">This year,</span><span class="line1">Our love of apparel will help save the world.</span><span class="line2">Be among the first to find out how.</span></h2>
    <h3><span>World change?</span> <span class="bold">Damn Right.</span></h3>
    <div class="circle"></div>
  </div>
  <div class="center">
    <div id="mc_embed_signup">
      <form action="http://onevio.us7.list-manage.com/subscribe/post?u=d89bc392d783cc3a21598fe4a&amp;id=82f2bd1a58" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="mc-field-group">
          <span class="tip"></span>
          <input type="email" value="" name="EMAIL" class="required email" placeholder="Please enter your email" id="mce-EMAIL">
          <button type="submit" value="Go" name="subscribe" id="mc-embedded-subscribe" class="button"></button>
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>
        <div class="clear"></div>
      </form>
    </div>
    <div class="clear"></div>
  </div> <!--./center-->
</div> <!--./main -->