<div class="main">
  <div class="launchLogo"></div>
  <div class="tagline">
    <h2><span class="bold block">Thanks.</span></h2>
    <h3>We’re going to change the world</h3>
  </div>
</div> <!--./main -->