<div class="main">
  <div class="launchLogo"></div>
  <div class="thanks">
    <h2><span class="bold">Thanks.</span><span class="line1">You’re going to change the world..</span></h2>
  </div>
  <div class="center">

  </div> <!--./center-->
</div> <!--./main -->