/*Android S2 and Ipad*/
/*================================================== */
/*Portrait*/
/*===========================*/
@media only screen
and (orientation: portrait)
and (min-device-width: 480px)
and (max-device-width: 800px) {
    input[type="text"], input[type="email"], input[type="search"], input[type="password"] {
        -webkit-appearance: caret;
        -moz-appearance: caret; /* mobile firefox too! */
    }

    .greenBtn {
        width: 300px !important;
        margin: 0 auto 30px auto;
    }

    .footer {
        margin-top: 130px;
    }

    .mc-embedded-subscribe-form .btn {
        right: 1%;
    }

    #works,
    #home {
        height: auto !important;
    }

    #works .col-split {
        float: left;
        padding-right: 3.5%;
        padding-left: 3.5%;
        border-bottom: 0;
        margin-bottom: 80px;
        border-right: 1px solid rgba(255, 255, 255, 0.8);
    }

    #works .col-split.last {
        margin-right: 0;
        border-right: 0;
    }

    .unite {
        margin-bottom: 30px;
    }

    .beta {
        left: 7%;
    }

    .family a {
        right: 7%;
    }
    .footer .links a {
        padding: 0;
    }
    .mc-embedded-subscribe-form {
        position: relative;
    }
    .company-description p {
        right: inherit;
    }

}

/*Landscape*/
/*===========================*/
@media screen
and (orientation: landscape)
and (min-device-width: 480px)
and (max-device-width: 800px) {

    input[type="text"], input[type="email"], input[type="search"], input[type="password"] {
        -webkit-appearance: caret;
        -moz-appearance: caret; /* mobile firefox too! */
    }

    .col-md-5 {
        float: none;
        width: 100%;
    }

    .greenBtn {
        width: 300px !important;
        margin: 25px auto 30px auto;
    }

    .footer {
        margin-top: 130px;
    }

    .mc-embedded-subscribe-form .btn {
        right: 1%;
    }

    #works,
    #home {
        height: auto !important;
    }

    #works .col-split {
        float: left;
        margin-right: 0;
        padding-right: 3.5%;
        padding-left: 3.5%;
        border-bottom: 0;
        border-right: 1px solid rgba(255, 255, 255, 0.8);
    }

    #works .col-split.last {
        margin-right: 0;
        border-right: 0;
    }

    .unite {
        margin-bottom: 30px;
    }

    .beta {
        left: 7%;
    }

    .family a {
        right: 7%;
    }
    .company-description p {
        right: inherit;
    }
}

/* Iphone*/
/*================================================== */
@media only screen
and (min-device-width: 320px)
and (max-device-width: 480px) {

    .footer .links a {
        padding: 0;
    }
    .result .mce-success-response,
    .result .mce-error-response,
    .result .mce_inline_error {
        left: inherit;
        right: 5px;
    }

    .mc-embedded-subscribe-form {
        position: relative;
        margin: 0 auto;
    }

    .company-description p {
        right: inherit;
        width: 280px;
        margin-left: auto;
        margin-right: auto;
    }
    .greenBtn {
        display: none;
    }
    .mc-embedded-subscribe-form .help-block {
        width: auto;
    }
}

@media only screen
and (orientation: landscape)
and (min-device-width: 320px)
and (max-device-width: 480px) {

    .company-description p {
        right: inherit;
        width: 380px;
        margin-left: auto;
        margin-right: auto;
    }
    .mc-embedded-subscribe-form .help-block {
        width: auto;
    }
}
