/*Android S2
================================================== */
@media only screen
and (min-device-width : 480px)
and (max-device-width : 800px) {
    body {
        padding: 0;
    }
    body.main_body{
        background: url("bg_mobile.jpg") center center no-repeat fixed;
    }
    body.thanks_body{
        background: url("bg_mobile.jpg") center center no-repeat fixed;
    }
    .span4 {
        float: none;
    }
    .main {
        width: 100%;
        margin: 0;
    }
    .launchLogo {
        padding: 0;
        margin: 0 auto;
    }
    .tagline {
        background: none;
        padding: 0;
        height: 280px;
    }
    .question h3,
    .tagline h2,
    .tagline h3 {
        color: white;
    }
    .tagline h2 {
        margin-top: 0.5em;
        font-size: 0.7em;
    }
    .thanks {
        position: relative;
        top: 0;
        left: 0;
        text-align: center;
        font-size: 0.5em;
        margin-bottom: 40px;
    }
    body.thanks_body .icons {
        position: relative  ;
        top: 0;
        left: 0;
    }
    .thanks span,
    .tagline h2 span {
        display: block;
    }
    .thanks .bold,
    .tagline .bold {
        font-weight: bold;
    }
    .thanks .bold {
        font-size: 1em;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .thanks .bold,
    .thanks .line1 {
        color: white;
    }
    .thanks .line1 {
        font-size: 0.75em;
    }
}
/* Iphone
================================================== */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
    body {
        padding: 0;
    }
    body.main_body{
        background: url("bg_mobile.jpg") center center no-repeat fixed;
    }
    body.thanks_body{
        background: url("bg_mobile.jpg") center center no-repeat fixed;
    }
    .span4 {
        float: none;
    }
    .main {
        width: 100%;
        margin: 0;
    }
    .launchLogo {
        padding: 0;
        margin: 0 auto;
    }
    .tagline {
        background: none;
        padding: 0;
        height: 280px;
        width: 100%;
    }
    .question h3,
    .tagline h2,
    .tagline h3 {
        color: white;
    }
    .tagline h2 {
        margin-top: 0.5em;
    }
    .tagline .line2 {
        margin-bottom: 1em;
    }
    .tagline h2 .bold {
        font-size: 1em;
    }
    .tagline h3 {
        font-size: 1.5em;
    }
    .thanks {
        position: relative;
        top: 0;
        left: 0;
        text-align: center;
        font-size: 0.5em;
        margin-bottom: 40px;
    }
    body.thanks_body .icons {
        position: relative  ;
        top: 0;
        left: 0;
    }
    .thanks span,
    .tagline h2 span {
        display: block;
    }
    .thanks .bold,
    .tagline .bold {
        font-weight: bold;
    }
    .thanks .bold {
        font-size: 1em;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .thanks .bold,
    .thanks .line1 {
        color: white;
    }
    .thanks .line1 {
        font-size: 0.75em;
    }
}